body {
  margin: 0;
  background-color: rgb(127, 161, 98);
}

.menu {
  height: 80px;
  background-color: rgb(127, 161, 98);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.big {
  display: flex;
  font-size: 19px;
  background-color: rgb(127, 161, 98);
}

.p {
  margin-right: 20px;
  cursor: pointer;
  color: rgb(12, 37, 11);
  font-family: "Fuzzy Bubbles", cursive;
}

.number {
  font-size: 23px;
  color: aliceblue;
}

.logo {
  font-family: "Fuzzy Bubbles", cursive;
  max-width: 614px;
}

.menu_logo {
  height: 80px;
}

.mobile-btn {
  display: none;
  height: 40px;
}

.cards {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  height: 430px;
  width: 280px;
  padding-left: 5px;
  margin: 10px;
  box-sizing: border-box;

  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.card_img {
  display: block;
  margin: auto;
  width: 80%;
  margin-bottom: 30px;
}

.card-button {
  display: block;
  height: 45px;
  width: 80%;
  background-color: rgb(71, 107, 70);
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Fuzzy Bubbles", cursive;
  margin: auto;
  text-align: center;
  line-height: 45px;
  margin-top: 20px;
}

.card_name {
  font-family: "Fuzzy Bubbles", cursive;
}

.card_price {
  font-family: "Libre Franklin", sans-serif;
}

.s {
  width: 70%;
}

.l {
  width: 65%;
}

.r {
  width: 90%;
}

.x {
  width: 69%;
}
@media (max-width: 830px) {
  .mobile-btn {
    display: inline;
  }
  .big {
    display: none;
  }
}
@media (max-width: 1035px) {
  .cards {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}
